<% obj.each do |location| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
         Location code: <%= location.loc_code %>
        </div>
      </div>
    </div> 
  </div>  
<% end %>
     